.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.75);
}
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}
.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}
.cardButton {
  border: none;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}
